<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <description>Repository descriptor</description>
    <servlet>
        <servlet-name>JCR-RepoInfo</servlet-name>
        <servlet-class>org.modeshape.example.jca.Controller</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>JCR-RepoInfo</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>
    <welcome-file-list>
	<welcome-file>main.jsp</welcome-file>
    </welcome-file-list>
</web-app>
